body {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
}

#container {
    align-self: center;
    padding: 0px 10px;
    position: relative;
    width: 90%;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    max-width: 575px;
    margin: 10px auto;
}

h1 {
    font-weight: bold;
    color: rgb(83, 133, 145);
    letter-spacing: 1px;
    font-size: 45px;
    transform: translateY(-35px);
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#loginTxt {
    font-size: 25px;
}

.toph h1 {
    transform: translateY(20px);
    font-size: 25px;
    margin: 10px 25px;
    display: inline-block;
    font-weight: 700;
}

.number {
    color: #CDC5BD;
}

a {
    text-decoration: none;
}