body {
    margin: 10px;
    font-size: 18px;
}

#selectDiv {
    width: auto;
    text-align: center;
    margin-bottom: 10px;
}

#fetchingTxs-alerts {
    margin-top: 10px;
    width: fit-content;
}

.contanier {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#requestLogs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#outputSingleDevice,
#outputAlldevices {
    display: block;
    width: fit-content;
    text-align: center;
    max-height: 310px;
    overflow-x: auto;
}

#dataPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mb-3 {
    margin-right: 5px;
}

#reportNote {
    font-weight: bold;
    text-decoration: underline;
}

.form-label {
    font-weight: bold;
}

#downloadCSV {
    margin-bottom: 5px;
}

#deviceAddSec {
    margin-bottom: 10px;
}

#addingD-alerts {
    margin-top: 7px;
    max-height: 226px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

#addSingle,
#addBulk {
    margin-bottom: 10px;
}

#addSingleBtn {
    margin-bottom: 5px;
}

.zero-tokens {
    background-color: #ff000085;
    color: #ffff;
}

#addBulk {
    display: inline-block;
}

#note {
    text-align: center;
}

.btn:disabled {
    pointer-events: all;
}


#logoutDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    width: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}


h5.card-title {
    text-align: center;
}

#header {
    margin: 10px;
}

p.card-text {
    /* text-align: center; */
}

.notes-focus {
    font-weight: bold
}

#logOutBtn,
#hideSecBtn {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

#totalTokens {
    margin-bottom: 8px;
}

#dWrapperSection {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#fetchingSection {
    border: 2px solid #dee2e6;
    padding: 10px;
    border-radius: 8px;
}